[class*="col-"] {
text-align: center;
font-size: 2rem;
}
body{
  background: url("https://dota2.net/cdn2/aHR0cHM6Ly9jZG4uYXJ0c3RhdGlvbi5jb20vcC9hc3NldHMvaW1hZ2VzL2ltYWdlcy8wMDAvNjQ0LzIwMC9sYXJnZS9tYXgtYXJpc3Rvdi1oZXJvZXMuanBnPzE0Mjk2MzgyMDY=.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
